# === Arquivos de build e compilação ===
/target/
*.class
*.jar
*.war
*.ear

# === Logs ===
*.log

# === Arquivos de sistema ===
.DS_Store
Thumbs.db

# === Arquivos de IDE (IntelliJ IDEA) ===
.idea/
*.iml
*.ipr
*.iws

# === Arquivos de Maven ===
.mvn/wrapper/maven-wrapper.jar
